
.nav {
  background-color: #F55A5A;
  align-items: center;
  height: 150px;
  display: flex;
  vertical-align: middle;

  
}
.nav--content {
    align-content: center;
    gap: 10px;
  
}
.nav-img {
  width: 50px;
  padding: 0px 70px;
}
.nav--text {
   padding: 0px 0px;

   font-size: 42.9px;

}
.bodi {
  display: flex;
  padding: 50px 100px;
  gap: 50px;
  font-size: 25px;
}
.icon {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.map {
  padding: 24px 20px;

}

.loc {
  width: 20px;
  height: 20px;
  padding: 28px 0;
  
}